<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <application
        android:name="org.fossify.commons.FossifyApp"
        android:allowBackup="true"
        android:appCategory="audio"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        tools:replace="android:label">

        <receiver
            android:name=".helpers.MyWidgetRecordDisplayProvider"
            android:exported="true"
            android:icon="@drawable/ic_microphone_vector">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_record_display" />
        </receiver>

        <activity
            android:name="org.fossify.voicerecorder.activities.BackgroundRecordActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoDisplay" />

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AboutActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity" />

        <service
            android:name=".services.RecorderService"
            android:exported="false"
            android:foregroundServiceType="microphone">
            <intent-filter>
                <action android:name="org.fossify.voicerecorder.action.GET_RECORDER_INFO" />
                <action android:name="org.fossify.voicerecorder.action.STOP_AMPLITUDE_UPDATE" />
                <action android:name="org.fossify.voicerecorder.action.TOGGLE_PAUSE" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
